body {
    color: #f2f6fe;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #303455;
}

.container-intro {
    height: auto;
    background-color: #303455;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

p {
    margin-bottom: 0px;
}

#bentornato {
    font-size: 1rem;
}

#nome {
    font-size: 1.5rem;
}

.rounded-circle {
    width: 60px;
}

header .rounded-circle {
    width: 60px;
    margin-right: 1rem;
}

.testo {
    display: flex;
}

.navbar {
    padding-bottom: 1rem;
    margin-top: -1px;
}

.card {
    color: #f2f6fe;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
}

.card i {
    color: #edbb79;
}

.nome-sezione h1 {
    color: #303455;
    font-size: 1.3rem;
    font-weight: 600;
}

.nome-sezione p {
    color: #66b4ff;
    font-size: 0.8rem;
}

.card button {
    background-color: #f2f6fe;
    border: none;
    font-weight: bold;
    height: 2.5rem;
}

.card button i {
    -webkit-text-stroke-width: 0.05rem;
    width: 500px;
    font-size: 30px;
    line-height: 2.5rem;
}

.card-js {
    background-color: #dd6f77;
}

.card-seo {
    background-color: #61c3e7;
}

.nome-materia {
    font-size: 1.7rem;
    font-weight: 500;
}

.tot-quiz {
    font-size: 0.9rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
